* {
    margin: 0;
}

body {
    font-family: 'Cinzel', serif;
    text-align: center;
    padding-top: 200px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-image: url(../html_e_css/image/image_viagem.png);
    height: 100vh;


    display: grid;
    place-content: center;
}

button a {
    margin-bottom: 50px;
    color: #000000;
    font-weight: 100px;
    font-size: 22px;
    font-family: 'Itim', cursive;
}

button {
    position: absolute;
    text-align: left;
    margin-left: 50px;
    background-color: #DB2777;

}

h1 {

    font-weight: 700;
    font-size: 64px;
    color: #151718  
}

h1 span {
 color: #DB2777   
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(44 46 47 0.9);
    margin-bottom: 72px;
    opacity: .7;
}

a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #151718;
    padding: 16px 32px 16px 32px;
}


.btn-travel-now {
    background: #DB2777;
    border-radius: 80px;
    color: #ffffff;
}

.btn-travel-now:hover {
    background: #e93e8bfb;
}